#include "resource.h"

IDI_APP_ICON ICON "resources\\app_icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Chess AI Team" "\0"
      VALUE "FileDescription",  "Chess AI" "\0"
      VALUE "FileVersion",      "1.0.0" "\0"
      VALUE "InternalName",     "chess_ai" "\0"
      VALUE "LegalCopyright",   "Copyright (C) 2024" "\0"
      VALUE "OriginalFilename", "chess_ai.exe" "\0"
      VALUE "ProductName",      "Chess AI" "\0"
      VALUE "ProductVersion",   "1.0.0" "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
